@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

.landing-page{
  background-color: white;
  margin:20px 10px;
  font-family: 'Raleway';
}
.landing-page-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  border: groove rgb(126, 126, 248) 1px;
  border-radius: 10px;
  background-color: #baf1c3;
}
.landing-page-main{
  background-color: rgb(219, 222, 216);
}
.landing-page-title{
  margin-left: auto;
}
.error{
  background-color: red;
  height: 100px;
  width: 300px;
  color: white;
  border-radius: 10px;
}
.login{
  text-decoration: none;
}
.sign-up{
  text-decoration: none;
}
.error-msg{
  color: red;
}

.logo-image{
  border-radius: 10px;
  height: 40px;
  width: 100px;
  margin-left: 10px;
  margin-right: auto;
}
.event{
  background-color:rgb(239, 232, 232);
  width: 1000px;
  height:300px;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 5px;
  border: black groove 1px;
  text-align: center;
}
.buy-btn{
  margin: auto;
}
.events{
  display: flex;
  flex-direction: column;
}